.HomeCategories {
    .wrapper {
        display: flex;
        flex-direction: column;

        .categories {
            display: grid;
            grid-template-columns: repeat(4, 4fr);

            @media (max-width:767px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .category {
                text-decoration: none;

                .img {
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 9vw;
                    min-height: 9vw;
                    object-fit: cover;
                    // background-color: rgba(218, 218, 218, 0.681);
                    border: solid 1px rgb(207, 207, 207);

                    @media (max-width:767px) {
                        max-height: 45vw;
                        min-height: 45vw;
                    }
                }

                .top-texts {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .text {
                        width: 40%;
                        font-weight: 400;
                        font-family: craft-400;
                    }

                    .explore {
                        gap: 10px;
                        width: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .icon {
                            width: 1.2vw;
                            height: 1.2vw;
                            fill: black;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            @media (max-width:767px) {
                                width: 4vw;
                                height: 4vw;
                            }
                        }
                    }
                }

                .min-text {
                    opacity: 0.5;
                    margin-top: 0.5vw;
                }
            }
        }
    }
}