.StagesCooperation {
    height: 220vw;
    display: flex;
    justify-content: center;

    @media (max-width:767px) {
        height: 1700px;
    }

    .car {
        left: 5vw;
        top: 44vh;
        z-index: 3;
        width: 5vw;
        height: 8vw;
        position: absolute;
        transition: 0.25s linear;
        -webkit-transition: 0.25s linear;
        -moz-transition: 0.25s linear;
        -ms-transition: 0.25s linear;
        -o-transition: 0.25s linear;

        @media (max-width:767px) {
            top: 45.5vh;
            width: 60px;
            height: 25px;
        }

        .img {
            max-width: 100%;
            min-width: 100%;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
        }
    }

    .wrapper {
        padding: 0;
        width: 200vw;
        height: 100vh;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.25s linear;
        -webkit-transition: 0.25s linear;
        -moz-transition: 0.25s linear;
        -ms-transition: 0.25s linear;
        -o-transition: 0.25s linear;


        @media (max-width:767px) {
            width: 1200px;
        }

        .sub-title {
            top: 10vw;
            left: 38vw;
            position: absolute;
            text-align: center;

            @media (max-width:767px) {
                top: 25vw;
                left: 13vw;
            }
        }

        .line {
            left: 0;
            width: 200vw;
            margin-top: 5vw;
            position: absolute;
            border-top: solid 3.5vw rgb(176, 176, 176);

            @media (max-width:767px) {
                width: 1200px;
                margin-top: 60px;
                border-width: 12vw;
            }
        }

        .card {
            width: 10%;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            border: solid 1px rgb(176, 176, 176);
            background-color: rgba(255, 255, 255, 0.463);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

            &::before {
                height: 7vh;
                content: "";
                position: absolute;
                border-left: solid 2px rgb(176, 176, 176);

                @media (max-width:767px) {
                    height: 56px;
                }
            }

            @media (max-width:767px) {
                width: 21%;
                padding: 15px;
                font-size: 13px;
            }
        }

        .card-1 {
            top: 32%;
            left: 20vw;

            &::before {
                bottom: -7vh;

                @media (max-width:767px) {
                    bottom: -56px;
                }
            }

            @media (max-width:767px) {
                left: 80px;
            }
        }

        .card-2 {
            left: 60vw;
            bottom: 22%;

            &::before {
                top: -7vh;

                @media (max-width:767px) {
                    top: -56px;
                }
            }

            @media (max-width:767px) {
                left: 300px;
                bottom: 25%;
            }
        }

        .card-3 {
            top: 32%;
            left: 100vw;

            &::before {
                bottom: -7vh;

                @media (max-width:767px) {
                    bottom: -56px;
                }
            }

            @media (max-width:767px) {
                left: 520px;
            }
        }

        .card-4 {
            bottom: 22%;
            left: 140vw;

            &::before {
                top: -7vh;

                @media (max-width:767px) {
                    top: -56px;
                }
            }

            @media (max-width:767px) {
                left: 740px;
                bottom: 25%;
            }
        }

        .card-5 {
            top: 32%;
            left: 180vw;

            &::before {
                bottom: -7vh;

                @media (max-width:767px) {
                    bottom: -56px;
                }
            }

            @media (max-width:767px) {
                left: 960px;
            }
        }
    }
}

.full-page {
    .wrap {
        top: 0;
        left: 0;
        // z-index: 4;
        position: fixed;
        background-color: white;
    }
}